.page.index {
    .card .card-body .obs {
        display: flex;
        justify-content: center;
    }
} 

.page.index, .page.create-edit {
    
    .card {
        
        .card-footer {
            display: flex;
            justify-content: space-between;
        }

    }

}

.parsley-errors-list {
    list-style: none;
    padding: 0;
    color: #ff0000;
}